@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fredoka', sans-serif;
}

body {
  display: flex;
  background: linear-gradient(rgb(30, 1, 107), rgb(61, 129, 255));
  background-repeat: no-repeat;
  height: 100vh;
  align-items: center;
}

.login-container {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.login-card {
  background-color: #ffffff50;
  border-radius: 10px;
  padding: 20px;
  box-shadow: -8px 10px 10px #00000050;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #200873;
}

.label-float input {
  width: 100%;
  padding: 5px 5px;
  display: inline-block;
  border: 0;
  border-bottom: 2px solid #20087350;
  background-color: transparent;
  outline: 0;
  min-width: 180px;
  transition: 0.3s ease-out;
}

.label-float {
  position: relative;
  padding: 15px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.label-float input:focus {
  border-bottom: 2px solid #ffffff50;
}

.label-float label {
  color: #200873;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 13px;
  transition: 0.3s ease-out;
}

.label-float input:focus + label {
  font-size: 12px;
  margin-top: 0;
}

.login-btn {
  display: flex;
  justify-content: center;
}

button {
  background-color: transparent;
  border-color: #20087350;
  color: #200873;
  padding: 10px 40px;
  font-weight: 500;
  font-size: 18px;
  margin-top: 22px;
  border-radius: 9px;
  outline: 0;
  cursor: pointer;
  transition: 0.2s ease-out;
}

button:hover {
  background-color: #311d7c;
  color: #fff;
}

hr {
  margin-top: 10%;
  margin-bottom: 10%;
  border-color: #ffffff40;
}

p {
  color: #200873;
  text-align: center;
}

a {
  color: #1a1c8a;
  text-decoration: none;
}
a:hover {
  color: #ffffff;
  transition: 0.2s ease-out;
}
